footer {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background: #0d47a1;
    color: #fff;
  }
  .subfooter {
    background: #e63946;
    color: #fff;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  footer a:hover {
    color: #e63946;
  }

  .subfooter a {
    color: #fff;
    text-decoration: none;
  }

  .subfooter a:hover {
    color: #0d47a1;
  }
