@import './../../app-theme';

mat-sidenav-container {

    mat-sidenav {
        max-width: 280px;
        width: 100%;
        background-color: #fff;

        .steps {
            padding: 24px 0px;
            height: 100%;

            .step {
                padding: 0px 16px;
                transition: 0.3s ease;

                .number {
                    min-height: 36px;
                    width: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #cccccc;
                    border-radius: 50%;
                    color: #fff;
                    transition: 0.5s ease;
                }
                .instruction {
                    margin-left: 17px;
                    padding: 16px 0px 16px 16px;
                    transition: 0.5s ease;

                    span {
                        opacity: 0;
                    }

                    &.border {
                        border-left: 2px solid rgba(0,0,0,0.54);
                        height: 100%;
                    }
                }

                &.active {

                    .number {
                        background: mat_color($accent);
                        color: mat_contrast($accent, 500);
                    }
                    .instruction {
                        // padding: 72px 0px 72px 16px;

                        span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    mat-sidenav-content {

        .container {
            // height: calc(100vh - 112px);
            width: calc(100% - 0px);
            display: flex;
            align-items: flex-start;
            justify-content: center;
            // padding: 24px;
            padding: 8px;
        }
    }
}

.constraint {
    max-width: 600px;
    width: 100%;
}

.step-card {
    border-radius: 4px;
    background-color: #fff;
    padding: 24px;
    width: calc(100% - 0px);
    // margin: 0px 16px;
    position: relative;

    h3 {
        margin-top: 0px;
    }

    .counter {
         span {
             text-align: center;
             border: none;
             padding: 4px;
             width: 56px;
             font-size: 14px;
         }
    }

    mat-radio-button {
        margin-left: 16px;
    }
}

.confirmation-container {
    .confirmation-header {
        .number {
            text-align: start;
            font-size: 24px;
        }
    }
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(white,0.54);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 300ms ease forwards;
    animation-delay: 200ms;

    .loading-box {
        padding: 24px;
        background-color: #fff;

        mat-progress-spinner {
            margin: 16px auto 0 auto;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.exp {

    mat-form-field {
        text-align: center;
    }
}

.actions {
    width: calc(100% - 32px);
    padding: 16px 0px;
    margin: 0px 16px;

    .left-btn, .right-btn {

        &.gone {
            display: none;
        }
    }
}

.deep-item {
    margin-bottom: 8px;

    .deep-q {
        input {
            border: none;
            border-bottom: 1px solid #000;
            text-align: center;
            font-size: 16px;
        }
    }
}

.days {
    .day {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;

        &.selected {
            background: mat_color($accent);
            border: 1px solid #fff;
            color: #fff;
        }
    }
}

:host /deep/ .mat-tab-header {
    display: none;
}

.mat-tab-group {
    // min-height: 200px;
    width: 100%;
    transition: 0.2s ease;
}
:host /deep/ .mat-tab-body-wrapper {
    height: 100%;
}
:host /deep/ .mat-tab-body {
    height: 100%;
}

@media screen and (max-width: 600px) {
    .step-card {
        width: calc(100% - 0px)
    }
    mat-sidenav {
        width: 70px !important;
        overflow: hidden;

        .steps {

            .step {

                .instruction {

                    display: none;
                }
            }
        }
    }
    mat-radio-button {
        margin-bottom: 8px;
    }
}



form.checkout {
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;

    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
}

form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
}

form.checkout button:active {
    background: rgb(165, 76, 43);
}

.StripeElement {
    width: 100%;
    margin: 1rem 0 1rem;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.call-out {
  background-color:#fff;
  padding-top:2rem;
  padding-bottom:2rem;
}
