<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Online Booking</h1>
      <p>Welcome to our booking system! In just a few minutes you can book your cleaning and pay online! Super easy and super secure!</p>
    </div>
  </div>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false" class="mat-elevation-z1">
    <div class="steps" fxLayout="column">
      <div class="step" fxLayout="column" fxFlex *ngFor="let part of instructions; let i = index; let l = last"
        [class.active]="i === step">
        <div class="number">
          <span>{{ i + 1 }}</span>
        </div>
        <div class="instruction" [class.border]="!l">
          <span>{{ part.text }}</span>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <div class="constraint">

        <div class="step-card mat-elevation-z1" fxLayout="column" fxLayoutGap="24px">
          <h3>{{ directions[step] }}</h3>
          <!-- Start Big Form w/ Tabs -->
          <form [formGroup]="stepGroup" fxLayout="row wrap" fxLayoutWrap>
          <mat-tab-group [selectedIndex]="step" [dynamicHeight]="true">

            <mat-tab label="Step 1">
              <div formGroupName="stepOne" fxFlex="100%" fxLayout="column" fxLayoutGap="12px">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <span class="title" fxFlex>Number of Rooms</span>
                  <div class="counter" fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button color="accent" (click)="roomAmount = roomAmount - 1; calcTotal()" [disabled]="roomAmount < 2"><mat-icon>remove</mat-icon></button>
                    <span>{{ roomAmount }}</span>
                    <button mat-icon-button color="accent" (click)="roomAmount = roomAmount + 1; calcTotal()"><mat-icon>add</mat-icon></button>
                  </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                  <span class="title" fxFlex.lt-sm="100%">Frequency</span>
                  <mat-radio-group formControlName="frequency" color="accent" fxFlex fxFlex.lt-sm="100%" (change)="calcTotal()">
                    <mat-radio-button value="weekly">Weekly</mat-radio-button>
                    <mat-radio-button value="biWeekly">Bi-Weekly</mat-radio-button>
                    <mat-radio-button value="monthly">Monthly</mat-radio-button>
                    <mat-radio-button value="once">One Time</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="end start">
                  <span class="title" fxFlex="100%">Day of the Week</span>
                  <div fxLayout="row wrap" fxLayoutAlign="center center" class="days" fxLayoutGap="4px">
                    <div *ngFor="let d of [0,1,2,3,4,5,6]; let i = index;" class="day" [class.selected]="sDay === d" (click)="sDay = d">
                      <span>{{ (d === 4 ? days[d].substring(0,2) : days[d].charAt(0)) | titlecase }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Step Deep">
              <div class="deep-form" formGroupName="stepDeep" fxLayout="row wrap">

                <!-- Int Windows -->
                <div class="deep-item input" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Interior Window Washing</span>
                    <small>$2 / window</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <input fxFlex="36px" class="deep-i" placeholder="#" formControlName="interiorWindow" (input)="calcTotal()" type="tel">
                  </div>
                </div>
                <!-- Ext Windows -->
                <div class="deep-item input" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Exterior Window Washing</span>
                    <small>$3 / window</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <input fxFlex="36px" class="deep-i" placeholder="#" formControlName="exteriorWindow" (input)="calcTotal()">
                  </div>
                </div>
                <!-- Windows Tracks -->
                <div class="deep-item input" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Window Tracks</span>
                    <small>$2 / track</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <input fxFlex="36px" class="deep-i" placeholder="#" formControlName="windowTracks" (input)="calcTotal()">
                  </div>
                </div>
                <!-- Inside Fridge -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                  <span class="title">Inside Fridge Cleaning</span>
                  <small>$15</small>
                </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="insideFridge" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- Dishes -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Wash & Load Dishes</span>
                    <small>$5</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="dishes" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- Ceiling Fans -->
                <div class="deep-item input" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Hand Clean Ceiling Fans</span>
                    <small>$10 / fan</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <input fxFlex="36px" class="deep-i" placeholder="#" formControlName="ceilingFans" (input)="calcTotal()">
                  </div>
                </div>
                <!-- Oven Cleaning -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Inside Oven Cleaning</span>
                    <small>$30</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="ovenCleaning" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- Cabinets -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Clean Inside Cabinets</span>
                    <small>$15</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="cabinets" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- Hand Floors -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Hand Wash Floors</span>
                    <small>$35</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="handFloors" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- Hand Blinds -->
                <div class="deep-item input" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Hand Wash Blinds</span>
                    <small>$6</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <input fxFlex="36px" class="deep-i" placeholder="#" formControlName="handBlinds" (input)="calcTotal()">
                  </div>
                </div>

                <!-- Hand Shower -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Hand Scrub Shower</span>
                    <small>$25</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="handShower" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- Hard Shower -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Hard Water / Shower Restoration</span>
                    <small>$75</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="hardShower" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- Hand Walls -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">Hand Scrub Walls</span>
                    <small>$15</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="handWalls" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
                <!-- ECO -->
                <div class="deep-item toggle" fxFlex="100%" fxLayout="row">
                  <div fxLayout="column" fxFlex>
                    <span class="title">ECO-Clean</span>
                    <small>$2</small>
                  </div>
                  <div class="deep-q" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-slide-toggle color="accent" formControlName="eco" (change)="calcTotal()"></mat-slide-toggle>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Step 2">
              <div class="personel" formGroupName="stepTwo" fxLayout="column" fxLayoutGap="12px" fxLayoutWrap>
                <mat-form-field color="accent" fxFlex="calc(100% - 12px)">
                  <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(100% - 12px)">
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(100% - 12px)">
                  <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(100% - 12px)">
                  <input matInput placeholder="Street" formControlName="street">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(40% - 12px)">
                  <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(20% - 12px)">
                  <input matInput placeholder="State" formControlName="state">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(40% - 12px)">
                  <input matInput placeholder="Zip" formControlName="zip">
                </mat-form-field>
                <mat-form-field color="accent" fxFlex="calc(100% - 12px)">
                  <input matInput placeholder="Company" formControlName="company">
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Step 3">
              <div class="login-info" formGroupName="stepFour" fxLayout="column" fxLayoutWrap>
                <mat-form-field color="accent" fxFlex="calc(100% - 36px)">
                  <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field color="accent" fxFlex="calc(100% - 36px)">
                  <input matInput placeholder="Password" formControlName="password" type="password">
                  <mat-error *ngIf="weakPW === true">Weak Password</mat-error>
                </mat-form-field>
              </div>
            </mat-tab>

            <mat-tab label="Step 4">
              <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
                <div class="form-row">
                  <label for="card-info">Card Info</label>
                  <div id="card-info" #cardInfo></div>
                  <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
                </div>
              </form>
            </mat-tab>

            <mat-tab label="Step 5">
              <div class="confirmation-container" fxLayout="column" fxLayoutGap="16px" *ngIf="user">
                <div class="confirmation-header" fxLayout="row" fxLayoutAlign="start center">
                  <!-- <span class="number" fxFlex>Subscription</span> -->
                  <span class="number">{{ '#' + user.id.substring(0,6) }}</span>
                </div>
                <div class="confirmation-message">
                  <span>Congratulations for signing up for Deschutes Home Cleaning service! We have charged your card the amount below and you will receive an email with details of your service.</span>
                </div>
                <div class="confirmation-body" fxLayout="column" fxLayoutGap="8px">
                  <div class="item rooms" fxLayout="row" fxLayoutAlign="start center">
                    <span class="subject" fxFlex>Rooms: </span>
                    <span class="quantity">{{ roomAmount }}</span>
                  </div>
                  <div class="item frequency" fxLayout="row" fxLayoutAlign="start center">
                    <span class="subject" fxFlex>Frequency: </span>
                    <span class="quantity">{{ frequency | titlecase }}</span>
                  </div>
                  <div class="item day" fxLayout="row" fxLayoutAlign="start center">
                    <span class="subject" fxFlex>Day: </span>
                    <span class="quantity">{{ days[sDay] | titlecase }}</span>
                  </div>
                </div>
                <div style="height: 1px; width: 100%; background-color: rgba(0,0,0,0.24);" fxLayout="row"></div>
                <div class="confirmation-total" fxLayout="row" fxLayoutAlign="start center">
                  <span fxFlex>TOTAL: </span>
                  <span>${{ total }} {{ frequency === 'once' ? '' : '/ month' }}</span>
                </div>
              </div>
            </mat-tab>

          </mat-tab-group>
          </form>
          <!-- End Big Form w/ Tabs -->

          <div class="loading-overlay" *ngIf="loading">
            <div class="loading-box mat-elevation-z1">
              <span matDialogTitle>Creating User...</span>
              <mat-progress-spinner mode="indeterminate" diameter="50" color="accent"></mat-progress-spinner>
            </div>
          </div>

          <div class="loading-overlay" *ngIf="startingSub">
            <div class="loading-box mat-elevation-z1">
              <span matDialogTitle>Starting Subscription...</span>
              <mat-progress-spinner mode="indeterminate" diameter="50" color="accent"></mat-progress-spinner>
            </div>
          </div>

          <div class="loading-overlay" *ngIf="duplicateUser">
            <div class="loading-box mat-elevation-z1" fxLayout="column" fxLayoutGap="12px">
              <span matDialogTitle>It seems that someone else is already using this email. Please try another email address.</span>
              <span>If you need assistance please send an email to support@descuteshomecleaning.com</span>
              <div class="user-error" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
                <button mat-button color="accent" (click)="duplicateUser = false">OK</button>
              </div>
            </div>
          </div>

          <div class="total-row" fxLayout="row" fxLayoutAlign="start center" *ngIf="step < 5">
            <span fxFlex>TOTAL</span>
            <span>{{ total | currency: 'USD' }} / MONTH</span>
          </div>
        </div>
        <div class="actions" fxLayout="row" fxLayoutAlign="start center">
          <button mat-fab (click)="step = step - 1" [disabled]="step < 1" class="left-btn" [class.gone]="step > 3"><mat-icon>chevron_left</mat-icon></button>
          <div fxFlex></div>
          <button mat-fab (click)="increment()" class="right-btn" [class.gone]="step > 4"><mat-icon>{{ step > 3 ? 'check' : 'chevron_right' }}</mat-icon></button>
        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<section class="call-out">
     <div class="container text-center">
       <h2 class="mb-4">Need to look at prices again?</h2>
       <a class="btn btn-light btn-xl sr-button" routerLink="../services">View Services</a>
     </div>
   </section>
