.contact-section {
  padding-top: 2rem;
}
.card {
  padding: 2rem;

}
.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}
.map {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.call-out {
  background-color:#fff;
  padding-top:2rem;
  padding-bottom:2rem;
}
