<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Contact Us</h1>
      <p>Having issues with online booking? Just want to say hi? Whatever it is, send us a message!</p>
    </div>
  </div>
<section class="contact-section" syle="padding-bottom:2rem;">
<div class="col-10 mx-auto">
<div class="container">
  <div class="card">
<div class="row">
<div class="col-md-6" style="padding-top:2rem;">
  <h4>Message Us!</h4>
  <form [formGroup]="cForm">
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="cForm.value.email.invalid">Invalid Email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Message" formControlName="message"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="submitForm()">SUBMIT</button>
    </div>
  </form>
</div>


<div class="col-md-6" style="padding-top:2rem;">
<h4>Contact Information:</h4>
<p>
Phone: <br /> <a href="tel:5419032598">(541)903-2598</a> </p>
<p>Email:<br />
<a href="mailto:info@deschuteshomecleaning.com">info@deschuteshomecleaning.com</a> </p>
<p> Address:<br />
PO Box: 6886 Bend <br /> Bend, OR 97708
</p>
</div>
</div></div>
<hr>
<div class="map">
  <iframe
width="100%"
height="500px"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45872.53453954293!2d-121.30829814519497!3d44.062018753668454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54b8c7964d8d5773%3A0xf7e0bd2809e5348f!2sDeschutes+Window+Cleaning!5e0!3m2!1sen!2sus!4v1524246328932
      &zoom=13
      &attribution_source=Google+Maps+Embed+API
      &attribution_web_url=https://developers.google.com/maps/documentation/embed/
      &key=AIzaSyCXAtGyjVD5cdLP4NrhejDPmdAVbp1jlM0" allowfullscreen>
  </iframe>
</div>
</div>
</div>
</section>

<section class="call-out">
     <div class="container text-center">
       <h2 class="mb-4">Ready for a cleaning?</h2>
       <a class="btn btn-light btn-xl" routerLink="../booking">Book Now!</a>
     </div>
  </section>
