<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark blue darken-4">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" routerLink="home">Deschutes Home Cleaning</a></logo>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="booking" class="nav-link waves-light" mdbWavesEffect>Booking</a>
            </li>
            <li class="nav-item">
                <a routerLink="services" class="nav-link waves-light" mdbWavesEffect>Serivces and Pricing</a>
            </li>
            <li class="nav-item">
                <a routerLink="contact" class="nav-link waves-light" mdbWavesEffect>Contact</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
