/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:900,800,700,600,500,400,300,200");

@import './app-theme';

body {
    padding: 0px;
    margin: 0px;
    background-color: #fafafa;
    font-family: 'Roboto';
}