
<header class="masthead text-center d-flex text-white">
      <div class="container my-auto">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <img src="assets/img/dhc-logo.svg" alt="deschutes-home-cleaning" style="max-width: 500px;">
            <hr class="light">
            <p>Veteran Owned, Lisensed, Bonded, and Insured!</p>
            <a routerLink="../services" class="btn btn-lg my-btn js-scroll-trigger" style="background-color:#0d47a1;color:#fff">Services</a> <a routerLink="../booking" class="btn btn-lg btn-success js-scroll-trigger">Book Now</a>
            <br><br>
            <p class="cursive">Yes, We Clean Windows! <br>
              Go to <a href="http://deschuteswindowcleaning.com" style="color:#fff;">DeschutesWindowCleaning.com</a> </p>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Home Cleaning for Central Oregon!</h2>
            <br>
            <hr class="light my-4">
            <p class="text-faded mb-4">
              Deschutes Home Cleaning is veteran owned, licensed, bonded, and insured. We provide a level of service that is unmatched and our attention detail continues to amaze all of our customers. We provide weekly, bi-weekly, monthly and one-timer services - discounts offered to returning customers. Check out our competitive pricing plan below!
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" routerLink="../booking">Get Started!</a>
          </div>
        </div>
      </div>
    </section>



    <section class="call-out">
         <div class="container text-center">
           <h2 class="mb-4">Ready for a cleaning?</h2>
           <a class="btn btn-light btn-xl" routerLink="../booking">Book Now!</a>
         </div>
      </section>
