body {
  font-family: 'Poppins', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #0d47a1;
}

hr.light {
  border-color: #fff;
}

a {
  color: #0d47a1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #78A1BB;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
.cursive {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}
.bg-primary {
  background-color: #0d47a1;
background-image: -webkit-linear-gradient(290deg, #0d47a1 90%, white 50%);
}

.bg-dark {
  background-color: #0d47a1 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

.text-area {
  background-color: #eee;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}


header.masthead {
  padding-top: 4.5rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("/assets/img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}


.text-primary {
  color: #0d47a1 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F40;
  border-color: #F05F40;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.my-btn a:hover {
  background: #78A1BB !important;
}

.call-out {
  background-color:#fff;
  padding-top:2rem;
  padding-bottom:2rem;
}
